# Dependencies
node_modules/
.pnpm-store/

# Nuxt
frontend/.nuxt/
frontend/.output/
frontend/dist/

# API
api/dist/
api/node_modules/

# Env
.env
.env.local
frontend/.env

# OS
.DS_Store

# Supabase local
supabase/.branches/
supabase/.temp/

# Logs
*.log

# IDE
.idea/
.vscode/
